.DS_Store
.dropbox
.coverage
*.code-workspace
.vscode
/htmlcov
/build
/dist
/docs/_build
/references
/src/sandpit.egg*
/src/sandpit/__pycache__
/.dbeaver
*.pyc
/.pytest_cache/
/tests/__pycache__
