.DS_Store
.dropbox
.coverage
*.code-workspace
/htmlcov
/dist
/build
/examples
/docs/_build
/references
/src/semuadmin_sandpit.egg*
/src/semuadmin_sandpit/__pycache__
/.dbeaver
*.pyc
/.pytest_cache/
/tests/__pycache__
.venv
venv
